{
  "root": true,
  "extends": "airbnb",
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-continue": 0,
    "class-methods-use-this": 0,
    "no-console": 0
  }
}
